.home_page {
    height: 100%;
    width: 100%;
    overflow: hidden;

    .home_page--header {
        height: 50px;
    }

    .home_page--content {
        height: calc(100% - 50px - 30px);
        width: 100%;
        overflow: auto;
        position: relative;
    }
}
